.App {
  
  text-align: center;
}

body{
  background: linear-gradient(0.25turn, #97c6e2, #ffffff, #97c6e2);
}

.navbar{
  background-color:#4b73e0;
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: stretch;
  height: auto;
}

.submit {
  position: relative;
  background-color: #4b73e0;
  border-radius: 5px;
  height: 2rem;
  width: max-content;
  color: whitesmoke;
  font-size: 18px;
  justify-self: center;
  margin: 3px;
}

.submit:hover {
  background-color: whitesmoke;
  border: #000000 solid 1px;
  color: #4b73e0;
}

.card {
  background-color: rgb(199, 199, 199);
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  height: auto;
  margin: 1rem 2rem;
  box-shadow: 3px 4px #4b73e0
}

.trip-card{
  background-color: rgb(255, 255, 255);
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  height: auto;
  margin: 1rem 2rem;
  box-shadow: 3px 4px #4b73e0
}

.delete{
  color: red
}

.delete:hover{
  background-color: rgb(75, 64, 64);
  color: red
  
}

p1{
  display: block;
  margin: auto;
  width: 55%;
}